<form class="container mt-5" [formGroup]="calculatorForm">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Instrucciones
                </div>
                <div class="card-body">
                    <p>Para realizar una operación matemática, presione los botones de la calculadora y luego presione el botón de igual.</p>
                    <p>Para borrar el último dígito presione el botón "Del".</p>
                    <p>Para borrar la operación presione el botón "C".</p>
                    <p>Para realizar una operación de raíz cuadrada presione el botón "√".</p>
                    <p>Para realizar una operación de potencia presione el botón "^".</p>
                    <p>
                        Para realizar una operación de logaritmo presione el botón "log". <br>
                        Si desea realizar un logaritmo con base específica, deberá ingresar la base y luego el número de  la siguiente forma: <b>"log&lpar;base&comma; número&rpar;"</b>. <br>
                        Si no indica la base, se asumirá que el logaritmo es de base 10, <b>"log&lpar;número&rpar;"</b>.
                    </p>
                    <p>Para realizar una operación de paréntesis presione los botones "(" y ")".</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    Calculadora
                </div>
                <div class="card-body">
                    <input type="text" class="form-control mb-3" formControlName="result">
                    <div class="row mb-2">
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('7')">7</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('8')">8</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('9')">9</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="clearResult()">C</button></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('4')">4</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('5')">5</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('6')">6</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="delLastDigit()">Del</button></div>
                        
                    </div>
                    <div class="row mb-2">
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('1')">1</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('2')">2</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('3')">3</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('+')">+</button></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('0')">0</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('.')">.</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult(',')">,</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('-')">-</button></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('√')">√</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('^')">^</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('/')">/</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('*')">*</button></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('log&lpar;')">log</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('&lpar;')">&#40;</button></div>
                        <div class="col"><button class="btn btn-secondary btn-block square-btn" (click)="appendToResult('&rpar;')">&#41;</button></div>
                        <div class="col"><button class="btn btn-primary btn-block square-btn" (click)="calculateResult()">=</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        
    </div>
</form>